#date{
	margin-top: 0;
	text-align: center;
}
#albumTitle{
	margin-bottom: 0;
	text-align: center;
	font-family: 'Yellowtail', cursive;
}
.titleLink{
	
	margin-top:0; 
	margin-bottom:0;
	text-align:center;
	text-decoration: none;
	
}


}

a:hover{
color: red;
}


.titleLink:hover{
	text-decoration: underline;
    background-color: lightgreen;
}
.titleLink:visited{
	text-decoration: none;
}

#producers{
font-family: 'Yellowtail', cursive;
}


table{
	border: 1px solid black; 
	border-collapse:collapse; 
	margin:1em auto;
	background-color: red;
}
th{
	border: 1px solid black;
}
td{
	border: 1px solid black;
}
#firstRow{
font-style: italic;
}
#secondRow{
font-style: italic;
}
#thirdRow{
font-style: italic;
}
